body
{
  color: rgb(255, 255, 255);
  background-color: rgb(97, 216, 194);
  font-family: 'Dancing Script', cursive;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name ,#gesture  
{
  color: black;
}
.gesture_name
{
  font-size: 40px;
}
.gesture
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label
{
  font-size: 14px;
  color: rgb(0, 195, 255);
  padding: 6px;
  border-radius: 10px;
  background-color: white;
}